header h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(81, 107, 11);
}

header .link {
    text-align: center;
    font-size: 2em;
    color: rgb(81, 107, 11);
    background-color:#cbfdff;
}

.title {
    color: rgb(81, 107, 11);
}

.text {
    color: rgb(81, 107, 11);
    font-size: 1.5em;
}

.Projects {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    width: auto;
    border: 2px solid rgb(121, 170, 75);
    place-items: center;
}

.grid-container .grid-element {
    background-color: rgb(240, 198, 229);
    border: 2px solid rgb(220, 137, 198);
    color: rgb(179, 67, 149);
    padding: 1em;
    text-align: center;
}

.grid-container .image{
    max-height: 20em;
    min-height: 15em;
}

.grid-container .title {
    padding: 15%;
}

.grid-container .subtitle {
    padding: 15%;
}

p {
    font-size: 1.5em;
}

body {
    background-color: rgb(197, 236, 161);
}

@media (max-width: 700px) {
    .grid-container {
         grid-template-columns: 1fr;
    }
}